<nav class="navbar navbar-default navbar-static-top navbar-inverse" style = "background-color: #6f2929">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/contact"> Contact</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Social Media <span class="glyphicon glyphicon-triangle-bottom"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://www.linkedin.com/in/dawson-vo-309846186/"> <span class = "glyphicon glyphicon-user"></span> LinkedIn</a></li>
            <li><a href="https://www.youtube.com/channel/UCqahqFaoln6pVmb-RepQNAQ?"> <span class="glyphicon glyphicon-hd-video"></span> Youtube</a></li>
            <li><a href="https://www.instagram.com/lunazoul/"> <span class = "glyphicon glyphicon-user"></span> Main Instagram</a></li>
            <li><a href="https://www.instagram.com/luna.shoots/"> <span class = "glyphicon glyphicon-camera"></span> Arts Instagram</a></li>
          </ul>
      </li>
    </ul>
    <!--
      <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href=""><span class="glyphicon glyphicon-book"></span> </a>
      </li>
    </ul>
  -->
  </div>
</nav>
