<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/header.ejs') %>
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js' type='text/javascript'></script>
  <script src='/stylesheets/main.js' type='text/javascript'></script>
</head>

<body>

  <%- include('../partials/nav.ejs') %>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Im still working on this website, calm down.
  </div>
  <div class="intro text-center">
    <h1><strong>Contact Info</strong></h1>
    <p>Phone Number: 647-620-3290</p>
    <p>Email: vo.dawsonlc@gmail.com</p>
  </div>
  <hr>
</div>
</body>
</html>
